<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div layout:fragment="siteContent">
    <input type="hidden" id = "gameId">
    <div class="col border p-2">
        <div class="row mb-3" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <div class="col-6 mx-auto">
                <div class="row mt-3">
                    <div class="col-12">
                        <label>NAME : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" id="addGameName">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>DESCRIPTION : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <textarea class="form-control" id="addDescription"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>GENRE : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <select name="Genre" id="addGenre">
                        </select>
                    </div>
                </div>
                <input type="hidden" th:value="${#authentication.principal.fullName}" id="currentUserName">
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success" onclick="addGame()">ADD GAME</button>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                function addGame() {
                    let addGameName = document.getElementById("addGameName");
                    let addDescription = document.getElementById("addDescription");
                    let author = document.getElementById("currentUserName");
                    let addGenre = document.getElementById("addGenre");
                    let gameName = addGameName.value.trim();
                    if (gameName === "") {
                        alert("Game name cannot be empty.");
                        return;
                    }

                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("POST", "/games", true);
                    httpRequest.setRequestHeader("Content-Type", "application/json");

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                            addGameName.value = "";
                            addDescription.value = "";
                            author.value = "";
                            addGenre.value = "";
                            loadGames();
                        }
                    };

                    let body = {
                        'gameName': gameName,
                        'description': addDescription.value,
                        'author': author.value,
                        'genre': addGenre.value,
                        'handled': false
                    };

                    body = JSON.stringify(body);
                    httpRequest.send(body);
                }
            </script>
        </div>
        <div id="gameListBody">
        </div>
        <div class="modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" sec:authorize="!hasAnyRole('ROLE_ADMIN')">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Game Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>NAME : </label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" readonly class="form-control" id="gameNameDetails">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>DESCRIPTION : </label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <textarea class="form-control" readonly id="descriptionDetails"></textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>AUTHOR : </label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" readonly class="form-control" id="authorDetails">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>GENRE : </label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" readonly class="form-control" id="genreDetails">
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="gameHandled">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                        <button type="button" class="btn btn-primary">OK</button>
                    </div>
                </div>
                <div class="modal-content" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Game Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>NAME : </label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" id="gameNameDetails">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>DESCRIPTION : </label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <textarea class="form-control" id="descriptionDetails"></textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>AUTHOR : </label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" id="authorDetails">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>GENRE : </label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <select name="Genre" id="genreDetails">
                                </select>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="gameHandled">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="approveGame()">APPROVE</button>
                        <button type="button" class="btn btn-danger" onclick="deleteGame()">DELETE</button>
                        <button type="button" class="btn btn-primary" onclick="updateGame()">SAVE</button>
                    </div>
                    <script type="text/javascript">
                        function updateGame(){

                            const httpRequest = new XMLHttpRequest();
                            httpRequest.open("PUT", "/games", true);
                            httpRequest.setRequestHeader("Content-Type", "application/json");

                            let gameId = document.getElementById("gameId");
                            let gameName = document.getElementById("gameNameDetails");
                            let description = document.getElementById("descriptionDetails");
                            let author = document.getElementById("authorDetails");
                            let genre = document.getElementById("genreDetails");
                            let handled = document.getElementById("gameHandled");

                            httpRequest.onreadystatechange = function () {
                                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                                    loadGames();
                                }
                            };

                            let body = {
                                'id' : gameId.value,
                                'gameName': gameName.value,
                                'description' : description.value,
                                'handled' : handled.value,
                                'author' : author.value,
                                'genre' : genre.value
                            };

                            body = JSON.stringify(body);
                            httpRequest.send(body);
                        }

                        function deleteGame(){

                            let approve = confirm("Are you sure?");

                            if(approve){

                                let gameId = document.getElementById("gameId");

                                const httpRequest = new XMLHttpRequest();
                                httpRequest.open("DELETE", "/games/"+gameId.value, true);

                                httpRequest.onreadystatechange = function () {
                                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                                        detailsModal.hide();
                                        loadGames();
                                    }
                                };

                                httpRequest.send();
                            }

                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        loadGames();

        function loadGames() {

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/games", true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                    let gameList = JSON.parse(httpRequest.responseText);

                    let content = "";
                    for (let i = 0; i < gameList.length; i++) {
                        if(gameList[i].handled == true) {
                            content += "<div class='container mt-2 border border-success'>"
                            content += "<p class='fs-5'>" + gameList[i].gameName + "</p>";
                            content += "<div className='pt-2 fs-6'>";
                            content += "<p>Application from: " + gameList[i].author + "</p>";
                            content += "<p>" + gameList[i].description + "</p>";
                            content += "</div>";
                            content += "<div>";
                            content += "Genre: " + gameList[i].genre;
                            content += "<br>";
                            content += "</div>";
                            content += "<button class='btn btn-primary btn-sm' " +
                                "onclick='openGameDetailsModal(" + gameList[i].id + ")'>DETAILS</button>";
                            content += "</div>"
                        }else{
                            content += "<div class='container mt-2 border border-warning'>"
                            content += "<p class='fs-5'>" + gameList[i].gameName + " <span class='text-warning'> *Not verified by admin </span></p>";
                            content += "<div className='pt-2 fs-6'>";
                            content += "<p>Application from: " + gameList[i].author + "</p>";
                            content += "<p>" + gameList[i].description + "</p>";
                            content += "</div>";
                            content += "<div>";
                            content += "Genre: " + gameList[i].genre;
                            content += "<br>";
                            content += "</div>";
                            content += "<button class='btn btn-primary btn-sm' " +
                                "onclick='openGameDetailsModal(" + gameList[i].id + ")'>DETAILS</button>";
                            content += "</div>"
                        }
                    }
                    document.getElementById("gameListBody").innerHTML = content;
                }
            }
            httpRequest.send();
        }

        function openGameDetailsModal(id){

            detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'));

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/games/"+id, true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    let result = JSON.parse(httpRequest.responseText);
                    gameNameDetails.value = result.gameName;
                    descriptionDetails.value = result.description;
                    authorDetails.value = result.author;
                    genreDetails.value = result.genre;
                    gameHandled.value = result.handled;
                    gameId.value = result.id;

                    detailsModal.show();

                }
            }
            httpRequest.send();
        }

        function approveGame(){

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("PUT", "/games", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");

            let gameId = document.getElementById("gameId");
            let gameName = document.getElementById("gameNameDetails");
            let description = document.getElementById("descriptionDetails");
            let author = document.getElementById("authorDetails");
            let genre = document.getElementById("genreDetails");
            let handled = document.getElementById("gameHandled");

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    loadGames();
                }
            };

            let body = {
                'id' : gameId.value,
                'gameName': gameName.value,
                'description' : description.value,
                'handled' : true,
                'author' : author.value,
                'genre' : genre.value
            };

            body = JSON.stringify(body);
            httpRequest.send(body);

        }

        genreList();

        function genreList() {

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/genre", true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                    let genreList = JSON.parse(httpRequest.responseText);

                    let content = "";
                    for (let i = 0; i < genreList.length; i++) {
                        content += "<option th:value='${" + genreList[i].genreName + "}'>"
                            + genreList[i].genreName + "</option>";
                    }
                    document.getElementById("addGenre").innerHTML = content;
                    document.getElementById("genreDetails").innerHTML = content;
                }
            }
            httpRequest.send();
        }

    </script>
</div>
</html>