<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.w3.org/1999/xhtml">

    <div layout:fragment="siteContent">
        <input type="hidden" id = "genreId">
        <div class="row mb-3">
            <div class="col-6 mx-auto">
                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if = "${param.passworderror!=null}">
                    This genre already exists!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if = "${param.success!=null}">
                    Genre successfully added!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>NAME : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" id="addGenre">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success" onclick="addGenre()">ADD GENRE</button>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                function addGenre() {

                    let addGenre = document.getElementById("addGenre");
                    let genreName = addGenre.value.trim();

                    if (genreName === "") {
                        alert("Genre name cannot be empty.");
                        return;
                    }

                    for (let i = 0; i < genreList.length; i++) {
                        if(genreList[i].genreName == genreName){
                            alert("This genre already exists.");
                            return;
                        }
                    }

                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("POST", "/genre", true);
                    httpRequest.setRequestHeader("Content-Type", "application/json");

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                            addGenre.value = "";
                            loadGenres();
                        }
                    };
                    let body = {
                        'genreName': addGenre.value,
                    };
                    body = JSON.stringify(body);
                    httpRequest.send(body);
                }
            </script>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th style="width: 10%;">DETAILS</th>
                    </tr>
                    </thead>
                    <tbody id="genreListBody">
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            loadGenres();

            let genreList;

            function loadGenres() {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/genre", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        genreList = JSON.parse(httpRequest.responseText);

                        let tableContent = "";
                        for (let i = 0; i < genreList.length; i++) {
                            tableContent += "<tr>";
                            tableContent += "<td>" + genreList[i].id + "</td>";
                            tableContent += "<td>" + genreList[i].genreName + "</td>";
                            tableContent += "<td><button class='btn btn-primary btn-sm' onclick='deleteGenre(" + genreList[i].id + ")'>DELETE</button></td>";
                            tableContent += "</tr>";
                        }
                        document.getElementById("genreListBody").innerHTML = tableContent;
                    }
                }
                httpRequest.send();
            }

            function deleteGenre(idGenre) {

                let approve = confirm("Are you sure?");

                if (approve) {


                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE", "/genre/" + idGenre, true);

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                                        detailsModal.hide();
                            loadGenres();
                        }
                    };

                    httpRequest.send();
                }
            }
        </script>
    </div>
</html>